
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=f496195acade331496f46d7b77c11d83
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
